@model IEnumerable<Modelos_LIS.Medicos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med_cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med_nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med_apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med_telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med_correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med_password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidadId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.med_cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.med_nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.med_apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.med_telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.med_correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.med_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidadId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
