@model Modelos_LIS.Resultados

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resultados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.res_valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.res_valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.res_comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.res_comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamenId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
